.toolbar-font {
  font-family: PingFangSC-Regular, "PingFang SC", sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.timer-font {
  font-family: PTMono-Bold, "PT Mono", monospace;
  font-weight: 700;
  color: #333333;
  font-size: 200px;
  line-height: 200px;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.dispaly-block {
  display: block;
}

.display-none {
  display: none;
}

.background {
  height: 510px;
  width: 1220px;
  position: static;
  top: 0;
  left: 0;
  padding: 0;
  background: #f2f4f7;
}

.toolbar {
  height: 70px;
  width: 1220px;
  padding: 15px 40px;
  background: #97a5bc;
  box-shadow: 0 2px 4px 0;
  color: rgba(0, 0, 0, 0.10);
}

.toolbar > div {
  float: left;
  margin-right: 20px;
}

.start-time {
  background: #ffffff;
  padding: 9px;
  height: 40px;
  width: 70px;
  color: rgba(0, 0, 0, 0.10);
  box-shadow: 0 2px 4px 0;
  border-radius: 5px;
}

.number {
  float: left;
  color: #afafaf;
}

input {
  border: none;
  height: 22px;
  width: 30px;
}

.unit {
  float: right;
  color: #222222;
}

.hint-holder {
  padding: 9px 0;
  width: 192px;
  height: 40px;
}

.hint {
  font-family: PingFangSC-Regular, "PingFang SC", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

button {
  color: #ffffff;
  height: 40px;
  width: 98px;
  border: none;
  padding: 9px;
  border-radius: 5px;
}

.starter {
  float: left;
  margin-right: 20px;
  background: #2188e9;
}

.cleaner {
  float: right;
  margin-left: 20px;
  background: #dd2e1d;
}

.restarter {
  float: right;
  margin-left: 20px;
  background: #ffb020;
}

.timer {
  height: 440px;
  width: 1140px;
  position: relative;
  left: 40px;
  padding: 127px 90px 113px;
}