
{% extends "base.html" %}

{% from 'bootstrap/form.html' import render_form, render_field %}

{% block headInsert %}
<style type="text/css">
.inp-prompt {
    display: block;
    min-height: 20px;
}
.display-block {
    display: block;
}
.display-none {
    display: none;
}
</style>
{% endblock %}

{% block content %}
<div class="center-block">

    <div><form method="POST">
        <!--选择类型-->
        <div>
            <select name="query" id="quert-select">
                <option value="insert" selected="selected">插入</option>
                <option value="delete">删除</option>
                <option value="select">查询</option>
                <option value="update">修改</option>
            </select>
        </div>
        <!--输入数据-->
        <div id="course-id" class="display-block">
            <label for="course_id_inp" class="inp-prompt">course ID: </label>
            <input type="text" id="course_id_inp" name="course_id" class="inp-prompt">
        </div>
        <div id="course-name" class="display-block">
            <label for="course_name_inp" class="inp-prompt">course name: </label>
            <input type="text" id="course_name_inp" name="course_name" class="inp-prompt">
        </div>
        <div id="course-major" class="display-block">
            <label for="course_major_inp" class="inp-prompt">course major ID: </label>
            <input type="text" id="course_major_inp" name="course_major" class="inp-prompt">
        </div>
        <div id="course-eval" class="display-block">
            <label for="course_eval_inp" class="inp-prompt">course evaluation method: </label>
            <select id="course_eval_inp" name="course_eval" class="inp-prompt">
                <option value="考试">考试</option>
                <option value="答辩">答辩</option>
            </select>
        </div>
        <div id="select-filter" class="display-none">
            <input type="button" value="Add Filter" id="add-filter-btn">
            <select name="sel0" id="sel0" onchange="ChangeSel(this)">
                <option value="ID" selected="selected">course ID</option>
                <option value="name">course name</option>
                <option value="major">major ID</option>
                <option value="eval">evaluation method</option>
            </select>
            =
            <input type="text" name="subclause0" id="subclause0">
        </div>
        <!--提交-->
        <div>
            <input type="submit" value="提交">
            <input type="reset" value="重置">
        </div>
    </form></div>
    <br>

    <div class="card border-primary mb-3" style="max-width: 48rem;">
        <div class="card">
        <div >
            <div class="card-header"> 课程信息 </div>
            <div class="card-body text-primary">
                {% for cours in course %}
                <p class="card-text"> {{ cours }} </p>
                {% endfor %}
            </div>
            </div>
        </div>
    </div>

    <a type="button" class="btn btn-primary" href="{{ url_for('index') }}">返回主页</a>
	<br>
	<script src="{{ url_for('static', filename='course.js') }}"></script>
</div>
{% endblock %}
